<footer>
  <p>Other links about me below:</p>
  <nav>
      <a href="https://webpages.charlotte.edu/dcisner1/">UNC Charlotte webpage</a>
      
      <a href="https://github.com/dacs-01/dacs-01.github.io">GitHub Repo</a>
      
      <a href="https://dacs-01.github.io/">GitHub Page</a>
      
      <a href="https://www.freecodecamp.org/daniel_cisneros_siliezar">Freecodecamp Account</a>
      
      <a href="https://www.codecademy.com/profiles/danielCisnerosSiliezar">Codecademy Account</a>
      
      <a href="https://www.linkedin.com/in/daniel-cisneros-siliezar-a742351b8/">LinkedIn</a>
  </nav>
  <p>Designed by <a href="../cisnerostech.com">Cisneros Technologies</a> &copy; 2022</p>
  <a href="https://validator.w3.org/check?uri=referer">
      <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." id = "validation_link_html"/>
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer">
      <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." id = "validation_link_css"/>
  </a>
  <script src="scripts/default.js"></script>
</footer>
